resource_group_name = "who-does-what-rg"
location            = "westeurope"
app_name            = "who-does-what-api"
sql_server_name     = "who-does-what-sql"
sql_admin_login     = "sqladmin"
sql_admin_password  = "replace-me"
db_app_user         = "app"
db_app_password     = "replace-me"
service_plan_sku    = "B1"
odbc_driver         = "ODBC Driver 18 for SQL Server"
